<%= image_tag "banner.jpg" %><br />

<table>	
	<tr>
		<td><%= image_tag "BeerPong.png", :size => "200x200" %></td>
		<td>BeerPong</td>
		<td><%= image_tag "Darts.png", :size => "200x200" %></td>
		<td>Darts</td>
	</tr>
	<tr>
		<td><%= image_tag "CornHole.png", :size => "200x200" %></td>
		<td>Cornhole</td>
		<td><%= image_tag "DanceOff.png", :size => "200x200" %></td>
		<td>Dance Off</td>
	</tr>
	
</table>